.card-container{
    background-color: rgb(222, 222, 222);
    width: 450px;
    text-decoration:none;

}

.product__img-container{
    width: 100%;

}

.product__img-container img{
    width: 100%;
    height: 200px;
    object-fit: cover; 
}

.product__title{
    font-size: 1.5rem;
    font-weight: 800;
    text-decoration:none;
}

.product__description{
    font-size: 1rem;
    font-weight: 400;
    text-decoration:none;
}

.product__price{
    font-size: 2rem;
    font-weight: 200;
    text-decoration:none;
}

.product__link{
    text-decoration:none;
    color: #201C26;
}