.Cart__item{
    background: rgb(180, 180, 180);
    width: 800px;
    height: 200px;
    margin: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    font-family: poppins;
}

.img-container{
    width: 200px;
    height: 200px;
    object-fit: cover;
    background: rgb(106, 106, 106);
    display: flex;
}
.item__image{
    width: 100%;
    object-fit: cover;
    
}

.Cart__item-details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.Cart__item-details .title{
    font-size: 1.5rem;
    font-weight: 500;
}

.Cart__item-details .price{
    font-size: 1rem;
}

.btn{
    height: 30px;
    width: max-content;
    padding: 0 1rem 0 1rem;
    background-color: rgb(219, 219, 219);
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(153, 153, 153); 
}