*{
  box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
  display: grid;
  grid-template-areas:
        "nav shop";
  grid-template-columns:300px auto;
  grid-template-rows: 100vh;
      
}

.shop{
  grid-area: shop;
}

