*{
  box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root{
  display: grid;
  grid-template-areas:
        "nav shop";
  grid-template-columns:300px auto;
  grid-template-rows: 100vh;
      
}


